@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Shadows+Into+Light+Two&display=swap');
@font-face {
font-family: 'Ameline';
    src: url('fonts/Amelline-9YWJ5.ttf');
}

@font-face {
    font-family: 'Andalan';
    src: url('fonts/AndalanEug-3znG6.otf');
}

@font-face {
    font-family: 'Angelina';
    src: url('fonts/Angelina-RnxM.ttf');
}

@font-face {
    font-family: 'Ascute';
    src: url('fonts/AsCuteAsSemibold-BOOw.ttf');
}
@font-face {
    font-family: 'Harshita';
    src: url('fonts/Harshita-z8AdD.ttf');
}
@font-face {
    font-family: 'OpenHeart';
    src: url('fonts/OpenHeart-Yz04O.otf');
}
@font-face {
    font-family: 'Senja';
    src: url('fonts/SenjaSantuy-yw5qq.otf');
}
@font-face {
    font-family: 'LoveItalic';
    src: url('fonts/ThePowerOfLoveItalic-zGWL.ttf');
}
@font-face {
    font-family: 'Better';
    src: url('fonts/BetterTogether.ttf');
}
@font-face {
    font-family: 'Autography';
    src: url('fonts/Autography.otf');
}
@font-face {
    font-family: 'BlackSign';
    src: url('fonts/BlackSignature.otf');
}
@font-face {
    font-family: 'Loverine';
    src: url('fonts/Loverine.otf');
}
@font-face {
    font-family: 'Flowers';
    src: url('fonts/PaperFlowers.ttf');
}
@font-face {
    font-family: 'Song';
    src: url('fonts/Song.ttf');
}
@font-face {
    font-family: 'Richard';
    src: url('fonts/Richard.ttf');
}
@font-face {
    font-family: 'Romantic';
    src: url('fonts/Romantic.otf');
}
@font-face {
    font-family: 'Sacra';
    src: url('fonts/Sacra.ttf');
}
@font-face {
    font-family: 'Smooth';
    src: url('fonts/Smooth.ttf');
}
@font-face {
    font-family: 'South';
    src: url('fonts/South.ttf');
}
@font-face {
    font-family: 'Goblick';
    src: url('fonts/Goblick.ttf');
}
@font-face {
    font-family: 'Vintage';
    src: url('fonts/Vintage.otf');
}
@font-face {
    font-family: 'Wonder';
    src: url('fonts/Wonder.ttf');
}




.designBx{
    padding: 1px;
    margin: 0;
    border: 2px solid #aaf;
    border-radius: 8px;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
}

.designBx_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    /* padding: 0.8rem 0; */
    border-bottom: 1px solid #aaf;
    
}

.designBx_tab{
    padding: 0.8rem 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 700;
    background-color: inherit;
    color: inherit;
    border: 0;
}

.designBx_tab:hover{
    background-color: rgba(0,0,255,0.15);
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
}

.tabActive{
    background-color: #9af;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
    
}

.tabBx{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
}

.inputNeonBx{
    width: 100%;
    border: 1px solid #8af;
    background-color: #fff;
    color: #0a0a0a;
    margin: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txtInputNeon{
    font-size: 1.5rem;
    margin: 8px;
    border: 0;
    resize: none;
    text-align: center;
    padding: 1rem;
    white-space: wrap;
}
.txtInputNeon:focus-visible {
    border: 0;
    overflow: hidden;
}



.neonBx {
    position: relative;
 /* width:100%; */
 background-color: #0a0a0a;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 8px;
 margin: 8px;
}


.marcaAgua{
    position: absolute;
    color: rgba(170, 170, 170, 0.323);
    z-index: 2;
}


.neonTxt {
    font-family: 'Harshita';
    resize: none;
    line-height: 2.8rem;
    text-align: center;
    border: 0;
    text-rendering: optimizeLegibility;
    white-space: wrap;
    padding: 3rem;
    font-size: 3.5rem;
    /* letter-spacing: 0.3rem; */
    background-color: transparent;
    color: rgb(255, 255, 255);
    /* transform: translateX(50px) rotateY(50deg); */
    text-shadow:
        /* Efecto 3d  */
        -1px 0 0 #55f,
        -2px 0 0 #999,
        -3px 0 0 #999,

        /* Efecto neon */
        0 0 5px #fff,
        0 0 8px #fff,
        0 0 8px #aaf,
        0 0 8px #00f,
        0 0 8px #00f,
        0 0 16px #00f,
        0 0 16px #00f,
        0 0 32px #00f,
        0 0 32px #00f,
        0 0 32px #00f,
        0 0 32px #00f,
        0 0 32px #00f
        ;
        /* text-rendering: optimizeLegibility; */


        transition: text-shadow 400ms ease-in-out;
}

.fontContainer{
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    padding: 0.5em 0;
}

.fontBx{
    text-align: center;
    border: 1px solid #8af;
    border-radius: 8px;
    padding: 3px 6px;
    padding: 8px 16px;

}


.lblRadio-color {
    text-align: center;
    border: 1px solid #8af;
    border-radius: 8px;
    padding: 8px 16px;
    /* background-color: #acf; */

}



input[type="radio"]:checked+.lblRadio
{
    background-color: #55f;
    border-radius: 8px;
    color: #ddf;
}

input[type="radio"]:checked+.lblRadio-color 
{
    background-color: #55f;
    border-radius: 8px;
    color: #ddf;

}


.hide{
    display: none;
}